/* Container styles */
.root {
  display: inline-flex;
  align-items: baseline;
  flex-wrap: nowrap;
  position: relative;
  min-height: 1.5em;

  &[data-text-animate-typewriter-multiline='true'] {
    width: 100%; /*  in theory just for terminal */
  }
}

/* Cursor styles */
.cursor {
  display: inline-block;
  font-weight: normal;
  margin-left: 1px;

  &[data-text-animate-typewriter-with-blink='true'] {
    animation: blink-caret 0.75s step-end infinite;
  }
}

/* Keyframes for cursor blinking */
@keyframes blink-caret {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}
