.root {
  --text-animate-gradient-speed: 3s;
  --text-animate-gradient-direction: 90deg;
  --text-animate-gradient-end-x: 200%;
  --text-animate-gradient-end-y: 0%;

  display: inline-block;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 200%;
}

.root[data-text-animate-gradient-animate='true'] {
  animation: gradient-shift var(--text-animate-gradient-speed) linear infinite;
}

@media (prefers-reduced-motion: reduce) {
  .root[data-text-animate-gradient-animate='true'] {
    animation: none !important;
  }
}

@keyframes gradient-shift {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: var(--text-animate-gradient-end-x) var(--text-animate-gradient-end-y);
  }
}
